---
Checks: >
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-diagnostic-*,
  clang-analyzer-*,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  misc-*,
  -misc-include-cleaner,
  -misc-use-anonymous-namespace,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,
  readability-*,
  -readability-identifier-length,
  -readability-qualified-auto,
  -readability-static-definition-in-anonymous-namespace,
CheckOptions:
  - { key: readability-identifier-naming.ClassCase,                     value: lower_case }
  - { key: readability-identifier-naming.ClassMemberPrefix,             value: m_ }
  - { key: readability-identifier-naming.ConstantCase,                  value: lower_case }
  - { key: readability-identifier-naming.EnumCase,                      value: lower_case }
  - { key: readability-identifier-naming.FunctionCase,                  value: lower_case }
  - { key: readability-identifier-naming.MacroDefinitionCase,           value: lower_case }
  - { key: readability-identifier-naming.StructCase,                    value: lower_case }
  - { key: readability-identifier-naming.TemplateParameterCase,         value: CamelCase }
  - { key: readability-identifier-naming.TypeAliasCase,                 value: lower_case }
  - { key: readability-identifier-naming.UnionCase,                     value: lower_case }
  - { key: readability-identifier-naming.VariableCase,                  value: lower_case }
---
